*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.coutainer {
  text-align: center;

  margin-top: 5rem;
  height: 100vh;
  display: grid;
  place-content: center;
}
.coutainer-btn {
  display: inline-block;
  margin: 1rem;
}

#value {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.btn {
  margin: 0.5rem;
  padding: 0.2rem 0.5rem;
}
